<div class="row">
    @if (AddFormContent != null)
    {
        @AddFormContent
    }
    else if (EditFormContent != null)
    {
        @EditFormContent
    }
    else
    {
        <p class="text-danger display-4">What are you up to?</p>
    }
</div>

@code {

    [Parameter]
    public RenderFragment? AddFormContent { get; set; }

    [Parameter]
    public RenderFragment? EditFormContent { get; set; }

}