<button class="btn btn-primary"
        @onclick="OnClick">
    @if (TextContent is not null)
    {
        @TextContent
    }
    else if (IconContent is not null)
    {
        @IconContent
    }
    else
    {
        <span>Nobody likes me D8</span>
    }
</button>

@code {

    [Parameter]
    public RenderFragment? TextContent { get; set; }

    [Parameter]
    public RenderFragment? IconContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

}