@using BlazorServerSandbox.Models

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Skill.Name</h5>
    </div>
    <div class="card-body">
        <p>His/her skill level is over <span class="fw-bolder text-danger">@Skill.Level</span>!!!</p>
    </div>
    <div class="card-footer">
        @if (IsAuthorized)
        {
            @if (_isEditing)
            {
                <EditForm class="mb-3"
                          Model="Skill"
                          OnValidSubmit="() => OnSkillUpdated.InvokeAsync(Skill)">
                    <InputText @bind-Value="Skill.Name"/>
                    <InputNumber @bind-Value="Skill.Level"/>
                    <button type="submit"
                            class="btn btn-success">Update Skill
                    </button>
                </EditForm>
            }

            <button type="button"
                    class="btn btn-primary"
                    @onclick="() => _isEditing = !_isEditing">Toggle
            </button>
        }
    </div>
</div>

@code {
    
    // EditorRequired: This attribute indicates that the parameter is required for
    // editing and will only show a warning in the editor.
    [Parameter, EditorRequired]
    public Skill Skill { get; set; }

    [Parameter]
    public bool IsAuthorized { get; set; }

    [Parameter]
    public EventCallback<Skill> OnSkillUpdated { get; set; }

    private bool _isEditing;

}